<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="asset/css/main.css" />
</head>
<body>

    <!-- content start -->
    <div class="layout-container fn-clear" id="main">
    </div>
    <!-- content end -->

    <!-- page loading start -->
    <div class="page-loading">
        <div class="loading-bar">
            <img src="img/i.gif" class="loading-icon" alt=""/>
            页面加载中
        </div>
    </div>
    <!-- page loading end -->

    <script>
        // 上线时生成一个时间戳
        var TIMESTAMP = '';
        var CDN_HOST = '';
    </script>

    <script src="asset/js/dep.js"></script>
    <script src="asset/js/base.js"></script>
    <script src="asset/js/common.js"></script>
    <script src="asset/js/main.js"></script>
</body>
</html>
